In [34]:
# import the required libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split

from sklearn.ensemble import AdaBoostClassifier
from sklearn.linear_model import LogisticRegression

from sklearn import metrics

from sklearn.metrics import accuracy_score,confusion_matrix,roc_curve,roc_auc_score,precision_score,recall_score,f1_score,classification_report

from sklearn.model_selection import GridSearchCV

import warnings
from warnings import filterwarnings
filterwarnings("ignore")

**Income Level talks about whether the Person has Income Less then 50K in an Year or Greter then 50K in an Year.** 

1 -> Person has Income > 50K

0 -> Person has Income < 50K

In [19]:
df = pd.read_csv("/content/income.csv")
df.head()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,income_level
0,39,77516,13,2174,0,40,0
1,50,83311,13,0,0,13,0
2,38,215646,9,0,0,40,0
3,53,234721,7,0,0,40,0
4,28,338409,13,0,0,40,0

In [20]:
X = df.drop(columns = "income_level",axis=1)
y = df["income_level"]

In [21]:
X.head()

   age  fnlwgt  education_num  capital_gain  capital_loss  hours_per_week
0   39   77516             13          2174             0              40
1   50   83311             13             0             0              13
2   38  215646              9             0             0              40
3   53  234721              7             0             0              40
4   28  338409             13             0             0              40

In [22]:
y

0        0
1        0
2        0
3        0
4        0
        ..
48837    0
48838    0
48839    0
48840    0
48841    1
Name: income_level, Length: 48842, dtype: int64

In [23]:
# Split dataset into training and testing

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state = 10)

## **Model training and Evaluation**

In [24]:
# create AdaBoost classifier object
## n_estimators = Number of Week Learner to train Iteratively

AdaModel = AdaBoostClassifier(n_estimators=100,
                              learning_rate=1)

In [25]:
# train Aadboost classifier
model = AdaModel.fit(X_train,y_train)

In [26]:
# predict the response for test dataset
y_pred = model.predict(X_test)

In [27]:
# Model Accuracy

print("Accuracy Score",accuracy_score(y_test,y_pred))

Accuracy Score 0.8350905926911659

## **Important aspects of AdaBoost**

In [28]:
# Import Logistic Regression Model

from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression()

In [29]:
# implementing Ada-Boost
# Train AdaBoost Classifier

Ada_boost = AdaBoostClassifier(n_estimators=50,base_estimator=log_reg,learning_rate = 1)
model = Ada_boost.fit(X_train,y_train)

In [31]:
# predict the response for test dataset
y_pred = model.predict(X_test)

In [32]:
# Model Accuracy

print("Accuracy Score",accuracy_score(y_test,y_pred))

Accuracy Score 0.7948612959361244